@using CarVilla.Areas.ViewModels
@model UpdateClientVm;




<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Client Name</label>
        <input asp-for="Name" type="text" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <input asp-for="Description" type="text" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label asp-for="CityLocation" class="form-label">Location(City)</label>
        <input asp-for="CityLocation" type="text" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="input-group mb-3">
        <label asp-for="ImageFile" class="input-group-text">Upload Profile Photo</label>
        <input asp-for="ImageFile" type="file" class="form-control">
    </div>

    <div style="color:red" asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>